VITE_STRIPE_PUBLISHABLE_KEY=pk_test_public
STRIPE_SECRET_KEY=sk_test_secret

EMAIL_USER=totosbureau@gmail.com
EMAIL_PASS=your-16-character-gmail-app-password-here

VITE_SUPABASE_URL=https://qprxkdvabdsziplssogb.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

API_SECRET_KEY=api_secret

